@font-face {
    font-family: 'AvaraBold';
    src:    url('/fonts/avara/Bold/Avara-Bold_web.eot');
    src:    url('/fonts/avara/Bold/Avara-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('/fonts/avara/Bold/Avara-Bold_web.woff') format('woff'),
            url('/fonts/avara/Bold/Avara-Bold_web.woff2') format('woff2'),
            url('/fonts/avara/Bold/Avara-Bold_web.ttf') format('truetype'),
            url('/fonts/avara/Bold/Avara-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvaraBoldItalic';
    src:    url('fonts/avara/BoldItalic/Avara-Bold_Italic_web.eot');
    src:    url('fonts/avara/BoldItalic/Avara-Bold_Italic_web.eot?#iefix') format('embedded-opentype'),
            url('fonts/avara/BoldItalic/Avara-Bold_Italic_web.woff') format('woff'),
            url('fonts/avara/BoldItalic/Avara-Bold_Italic_web.woff2') format('woff2'),
            url('fonts/avara/BoldItalic/Avara-Bold_Italic_web.ttf') format('truetype'),
            url('fonts/avara/BoldItalic/Avara-Bold_Italic_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvaraBlack';
    src:    url('fonts/avara/Black/Avara-Black_web.eot');
    src:    url('fonts/avara/Black/Avara-Black_web.eot?#iefix') format('embedded-opentype'),
            url('fonts/avara/Black/Avara-Black_web.woff') format('woff'),
            url('fonts/avara/Black/Avara-Black_web.woff2') format('woff2'),
            url('fonts/avara/Black/Avara-Black_web.ttf') format('truetype'),
            url('fonts/avara/Black/Avara-Black_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
